@import "../../index.scss";

.ItemsList {
  // background-color: mediumseagreen;
  background-color: $background-main;
  color: whitesmoke;
  min-height: calc(100vh - 54px);

  text-align: center;
  h2 {
    padding-top: 2rem;
  }

  .wrapper__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
  }
}
