@import "../../index.scss";

.ItemsList {
  // background-color: mediumseagreen;
  background-color: $background-main;
  background-image: url("../../img/bb_02.jpg");
  color: whitesmoke;
  min-height: calc(100vh - 54px);

  text-align: center;
  h1 {
    font-size: x-large;
    padding-top: 2rem;
  }

  .wrapper__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
  }
}
