@import "../../App.scss";

.ItemsList {
  background-color: mediumseagreen;
  background-color: $background-main;
  h2 {
    padding-top: 20px;
  }

  .wrapper__items-list {
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
