.MyAccount {
  position: relative;
  nav {
    background-color: mediumvioletred;
    position: absolute;
    top: 30%;
    left: 50%;
    // transform: translate(-50%, -50%);
  }

  .drop-btn {
    background-color: navajowhite;
  }

  .tooltip {
    position: absolute;
    right: 2px;
    bottom: -47px;
    height: 15px;
    width: 15px;
    background: #242526;
    background: green;
    transform: rotate(45deg);
    // border: 1px solid white;
  }

  .wrapper {
    border: 1px solid green;
    position: absolute;
    right: -20px;
    top: 71px;
    display: flex;
    width: 280px;
    overflow: hidden;
    // border-radius: 5px;
    background: #242526;
    // display: none;
    transition: all 0.3s ease;
    z-index: 500;
    height: 296px;

    & ul {
      width: 280px;
      list-style: none;
      padding: 10px;
      transition: all 0.3s ease;
      position: relative;
      z-index: 100;
    }
    & ul li {
      line-height: 55px;
    }
    & ul li a {
      position: relative;
      color: #b0b3b8;
      font-size: 18px;
      font-weight: 500;
      padding: 0 10px;
      display: flex;
      border-radius: 8px;
      align-items: center;
      text-decoration: none;
    }
  }
  // nav .wrapper.show {
  //   display: block;
  //   display: flex;
  // }

  .icon {
    background: #ffffff1a;
    height: 40px;
    width: 40px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
  }
  ul li a .icon span {
    line-height: 40px;
    font-size: 20px;
    color: #b0b3b8;
  }
  ul li a i {
    position: absolute;
    right: -15px;
    font-size: 25px;
    pointer-events: none;
  }
  .wrapper ul.setting-drop,
  .wrapper ul.help-drop {
    display: none;
  }
  .wrapper .arrow {
    padding-left: 23px;
    font-size: 20px;
    font-weight: 500;
    color: #b0b3b8;
    cursor: pointer;
  }
  .wrapper .arrow span {
    margin-right: 22px;
  }
}

.fa-arrow-left {
  background-color: orange;
  line-height: -10px;
}
