//TODO: refactor
//TODO: border & arrow, green or white?
//

.MyAccount {
  position: relative;
  border: none;
  // transform: "translate(-50%, -50%)";

  :active,
  :focus {
    border: none;
    outline: none;
  }

  button {
    background-color: transparent;
    color: white;
    border: none;

    :focus {
      outline: none;
      border: none;
    }
  }

  .dropdown-btn {
    // background-color: orange;
    display: flex;
    height: 79px;
    align-items: center;
    // overflow: visible;
  }

  .mobile-hide {
    padding-right: 12px;
  }

  .tooltip {
    // background: white;
    background: #242526;
    background: green;
    position: absolute;
    right: 0;
    bottom: -22px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    // border: 1px solid white;
    z-index: 30;
  }

  .wrapper {
    background: #242526;
    border: 1px solid RGB(56, 101, 59);
    //border: 1px solid white;
    position: absolute;
    right: -21px;
    top: 93px; // 71
    display: flex;
    width: 280px;
    overflow: hidden;
    // display: none;
    z-index: 500;
    min-height: 296px;

    outline: none;
    &:focus {
      border: none;
      outline: none;
    }
    padding: 7px;
  }

  .wrapper ul {
    position: relative;
    width: 280px;
    transition: all 1s ease-in-out;
    z-index: 100;

    li {
      line-height: 55px;

      a {
        position: relative;
        color: #b0b3b8;
        font-size: 18px;
        font-weight: 500;
        padding: 0 10px;

        display: flex;
        align-items: center;

        i {
          position: absolute;
          right: -15px;
          font-size: 25px;
          pointer-events: none;
        }
      }
    }
  }

  .wrapper .arrow {
    color: #b0b3b8;
    padding-left: 0px;
    font-size: 20px;
    font-weight: 500;

    span {
      margin-right: 22px;
    }
  }

  .icon {
    background: #ffffff1a;
    width: 40px;
    height: 40px;
    margin-right: 13px;
    text-align: center;
    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;

    span {
      line-height: 40px;
      font-size: 20px;
      color: #b0b3b8;
    }
  }

  .back-setting-btn {
    // background-color: red;
    padding-right: 110px;
  }

  .back-help-btn {
    padding-right: 50px;
  }

  //Sets position of right arrows in main menu
  .settings,
  .help-support i {
    padding-right: 40px;
  }

  .fa-arrow-left {
    line-height: 55px;
  }

  .fa-angle-down,
  .fa-angle-up {
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  .mobile-hide {
    display: none;
  }
}
