//TODO: refactor
//TODO: border & arrow, green or white?

.MyAccount {
  position: relative;

  .dropdown-btn {
    // background-color: orange;
    display: flex;
    height: 79px;
    align-items: center;
    overflow: visible;
  }

  .tooltip {
    position: absolute;
    right: 0;
    bottom: -22px;
    height: 15px;
    width: 15px;
    background: #242526;
    background: green;
    background: white;
    transform: rotate(45deg);
    // border: 1px solid white;
    z-index: 30;
  }

  .wrapper {
    border: 1px solid RGB(56, 101, 59);
    border: 1px solid white;
    position: absolute;
    right: -21px;
    top: 93px; // 71
    display: flex;
    width: 280px;
    overflow: hidden;
    // border-radius: 5px;
    background: #242526;
    // display: none;
    transition: all 0.3s ease;
    z-index: 500;
    min-height: 296px;
  }

  .wrapper ul {
    width: 280px;
    list-style: none;
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 100;

    li {
      line-height: 55px;

      a {
        position: relative;
        color: #b0b3b8;
        font-size: 18px;
        font-weight: 500;
        padding: 0 10px;
        display: flex;
        border-radius: 8px;
        align-items: center;
        // text-decoration: none;

        i {
          position: absolute;
          right: -15px;
          font-size: 25px;
          pointer-events: none;
        }
      }
    }
  }

  .wrapper .arrow {
    padding-left: 23px;
    font-size: 20px;
    font-weight: 500;
    color: #b0b3b8;

    span {
      margin-right: 22px;
    }
  }
  .icon {
    background: #ffffff1a;
    height: 40px;
    width: 40px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;

    span {
      line-height: 40px;
      font-size: 20px;
      color: #b0b3b8;
    }
  }
}

.fa-arrow-left {
  line-height: 55px;
}

.fa-angle-down,
.fa-angle-up {
  margin-left: 10px;
}
