$h: 200px;
.Cart {
  //background-color: deeppink;
  background-color: #042201;

  background-image: url("../../img/bb_05.jpg");
  background-clip: content-box;
  //background-size: 100%;
  background-repeat: no-repeat;
  background-position: 28% 0%;

  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 54px);

  .number-items {
    h2,
    h3 {
      margin-top: 20px;
      color: white;
    }
  }

  .number-items {
    text-align: center;
  }

  img {
    width: 100px;
    height: 140px;
  }
  .container__cart-list {
    // background-color: rgb(243, 187, 226);
    display: flex;
    padding: 1%;
    margin-bottom: 10px;

    .container__actors-data {
      background-color: whitesmoke;
      width: 70%;
      padding: 10px;
      margin-right: 10px;
    }
    // LEFT CTNR
    .wrapper__actors-data {
      // background-color: red;
      margin-bottom: 30px;
      hr {
        background-color: black;
        margin-top: 10px;
        margin-bottom: -20px;
      }
      .details {
        // background-color: cornflowerblue;
        display: flex;
        justify-content: space-between;

        .details-left {
          // background-color: chartreuse;
          display: flex;
          //   flex-direction: column;

          .info {
            // background-color: darkmagenta;
            display: flex;
            padding: 0 10px;
            flex-direction: column;
            justify-content: space-between;
          }
        }

        .details-right {
          // background-color: rgb(253, 236, 1);
          display: flex;
          flex-direction: column;
          min-width: 20%;
          flex-shrink: 0;
          justify-content: space-between;

          .stock-amount {
            // background-color: darkmagenta;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
              // background-color: darkolivegreen;
              display: flex;
              justify-content: space-between;
            }
            .booked-days {
              background-color: rgb(214, 214, 226);
            }
          }
          .buttons {
            display: flex;
            justify-content: center;
            padding-top: 3px;
          }
        }
      }

      .subtotal {
        // background-color: darkorange;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        font-weight: bold;
      }

      // .quote {
      //   background-color: darkgoldenrod;
      // }
    }

    //RIGHT
    .container__cart-total {
      // background-color: lightgreen;

      width: 30%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .total {
        background-color: whitesmoke;
        position: sticky;
        top: 5px;
        padding: 10px;
        p {
          display: flex;
          justify-content: space-between;
        }
        button {
          width: 100%;
          margin-top: 10px;
        }
      }
      .voucher {
        margin-top: 10px;
        // background-color: blueviolet;
      }
    }
  }
}
