//TODO: refactor

$h: 200px;
.Cart {
  background-color: #042201;
  background-image: url("../../img/bb_05.jpg");
  background-size: cover; //use to avoid diff sizes in Firefox and Chrome
  background-repeat: no-repeat;
  // background-position: 70% 0%;
  min-height: calc(100vh - 54px);

  display: flex;
  flex-direction: column;

  .number-items {
    // background-color: aqua;
    text-align: center;

    h2,
    h3 {
      margin-top: 20px;
      color: white;
    }
  }

  img {
    width: 100px;
    height: 140px;
  }

  .container__cart-list {
    // background-color: rgb(243, 187, 226);
    padding: 1%;
    margin-bottom: 10px;

    display: flex;
  }

  .container__actors-data {
    background-color: rgba(245, 245, 245, 0.75);
    width: 70%;
    padding: 10px;
    margin-right: 10px;
  }
  // LEFT CTNR

  .wrapper__actors-data {
    // background-color: red;
    margin-bottom: 30px;

    hr {
      margin-top: 10px;
      margin-bottom: -20px;
    }

    .details {
      // background-color: cornflowerblue;
      display: flex;
      justify-content: space-between;

      .details-left {
        // background-color: chartreuse;
        display: flex;

        .info {
          // background-color: darkmagenta;
          padding: 0 10px;

          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }

      .details-right {
        // background-color: rgb(253, 236, 1);
        min-width: 20%;
        flex-shrink: 0;

        flex-direction: column;
        display: flex;
        justify-content: space-between;

        .stock-amount {
          // background-color: darkmagenta;
          display: flex;
          flex-direction: column;

          p {
            // background-color: darkolivegreen;
            display: flex;
            justify-content: space-between;
          }

          .booked-days {
            background-color: rgb(214, 214, 226);
          }
        }

        .btns__plus-minus {
          padding-top: 3px;

          display: flex;
          justify-content: center;
        }
      }
    }

    .subtotal {
      // background-color: darkorange;
      font-weight: bold;

      display: flex;
      justify-content: space-between;
      align-content: space-between;
    }

    // .quote {
    //   background-color: darkgoldenrod;
    // }
  }

  //RIGHT
  .container__cart-total {
    // background-color: lightgreen;
    width: 30%;
    display: flex;
    flex-direction: column;

    .total {
      background-color: rgba(245, 245, 245, 0.7);
      position: sticky;
      top: 5px;
      padding: 10px;

      p {
        display: flex;
        justify-content: space-between;
      }

      button {
        width: 100%;
        margin-top: 10px;
      }
    }

    // .voucher {
    //   // background-color: blueviolet;
    //   margin-top: 10px;
    // }
  }
}
