@import "../../index.scss";
.container__form {
  color: #444;

  min-height: 96vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: #08415c;
  //background-color: #595f72;
  background-color: $background-main;
  background-color: #000;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;

  flex-shrink: 1;

  .wrapper__form {
    display: flex;
    flex-direction: column;
    width: 290px;
    max-width: 80%;
    min-width: 100px;
    min-height: 400px;
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 1px #222;
    background-color: #fefefe;
    background-color: transparent;

    h2 {
      display: flex;
      justify-content: center;
      font-family: Helvetica, sans-serif;
      font-size: x-large;
      font-weight: lighter;
      margin-top: 5px;
      color: #222;
    }
    form {
      width: 100%;
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
    }

    label {
      margin-bottom: 5px;
    }
    .info {
      //padding-bottom: 20px;
      display: inline-block;
    }

    input {
      padding: 5px 5px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #d6d1d5;
    }

    input::placeholder {
      font-size: 1.2rem;
      font-weight: lighter;
      color: #bbb;
    }

    button {
      min-width: 100%;
      cursor: pointer;
      margin: 15px 5px 8px 0;
      padding: 1rem;
      border: none;
      border-radius: 4px;
      background-color: #22223b;
      background-color: transparent;
      box-shadow: 0 0 5px 1px;

      color: #fefefe;
    }
    button:hover {
      opacity: 0.8;
    }

    .extended {
      //background-color: lightgreen;
      display: flex;
      padding-top: 6px;
    }
    .error {
      color: #db2269;
      font-size: 1.2rem;
      display: relative;
    }
    small {
      //background-color: mediumseagreen;
      display: block;
      padding-bottom: 10px;
    }

    .fullName,
    .userName,
    .email,
    .password,
    .wrapper__retrieve-password {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      width: 100%;
    }

    .submit {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    #label-newsletter {
      //background-color: limegreen;
      padding-right: 4px;
    }
    .choices {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .display-errorMsg {
      //background-color: greenyellow;

      p {
        color: red;
        text-align: center;
      }
    }

    //LOGIN
    .forgot-password > p {
      padding-top: 7px;
      padding-bottom: 7px;
      text-align: center;
      text-decoration: underline;
    }
    .wrapper__retrieve-password input {
      padding-top: 10px;
      width: 100%;
      //background-color: greenyellow;
    }

    .forgot-password button {
      //appearance: none;
      background-color: transparent;
      text-decoration: underline;

      color: black;
      cursor: pointer;
      padding: 0;
    }
  }
  input {
    background-color: transparent;
  }
}
