//TODO: separate logic for logic and register

.container__form {
  background-color: #000;
  background-image: url("../../img/br_01.jpg");
  // color: #2f5735e3;
  background-size: 100%;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // flex-shrink: 1;

  .wrapper__form {
    // background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    width: 290px;
    max-width: 80%;
    min-width: 100px;
    min-height: 400px;
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 1px #222;
    padding-bottom: 25px;

    h2 {
      color: #2f5735e3;
      padding: 8px 0;
      font-family: Helvetica, sans-serif;
      font-size: x-large;
      font-weight: lighter;
      text-align: center;
    }

    form {
      // background-color: orange;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    label {
      margin-bottom: 5px;
    }

    .lastName label,
    .email label {
      // background-color: blueviolet;
      padding-top: 2px;
    }

    input {
      background-color: transparent;
      background-color: rgba(255, 255, 255, 0.151);
      color: white;
      padding: 5px 5px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #d6d1d5;

      //PLACEHOLDER
      &::placeholder {
        color: #ffffffa4;
        font-size: 1.2rem;
        font-weight: lighter;
      }
    }

    .info {
      // background-color: #2f9dac;
      padding-bottom: 10px;
    }

    button {
      background-color: transparent;
      color: #fefefe;
      min-width: 100%;
      margin: 15px 5px 8px 0;
      padding: 1rem;
      border: none;
      border-radius: 4px;
      box-shadow: 0 0 5px 1px;

      &:hover {
        opacity: 0.8;
      }
    }

    .extended {
      // background-color: aquamarine;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 6px;

      width: 100%;
      min-height: 30px;

      #label-newsletter {
        // background-color: limegreen;
        width: 30%;
        // padding-right: -40px;
      }
    }
    .choices {
      // background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    // .error {
    //   background-color: burlywood;
    //   display: relative;
    //   color: #db2269;
    //   font-size: 1.2rem;
    // }
    small {
      //background-color: mediumseagreen;
      display: block;
      text-align: center;
      padding: 2px 0 10px;
    }

    //SHARED
    .firstName,
    .lastName,
    .userName,
    .email,
    .password,
    .wrapper__retrieve-password {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      width: 100%;
    }

    .submit {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .display-errorMsg {
      //background-color: greenyellow;

      p {
        color: #ff0000;
        text-align: center;
      }
    }

    //LOGIN
    .forgot-password > p {
      padding-top: 7px;
      padding-bottom: 7px;
      text-align: center;
      text-decoration: underline;
    }
    .wrapper__retrieve-password input {
      padding-top: 10px;
      width: 100%;
      //background-color: greenyellow;
    }

    // .forgot-password button {
    //   //appearance: none;
    //   background-color: transparent;
    //   text-decoration: underline;

    //   color: black;
    //   color: #2f5735e3;

    //   cursor: pointer;
    //   padding: 0;
    // }
  }
}

.container__form .wrapper__form .forgot-password button {
  color: pink;
  box-shadow: 0 0 0 0;
}
