.Home {
  text-align: center;
  font-size: 1.9rem;
  article {
    // background-color: darkseagreen;
    p {
      line-height: 3rem;
    }
  }
  .tecs {
    padding: 10px 0;
  }

  .legend {
    padding: 10px 0;

    .wrapper {
      display: flex;
      justify-content: space-evenly;
      padding-top: 5px;
    }
  }

  .list {
    ul {
      text-align: start;
      padding: 10px 0 0 30px;
      line-height: 3rem;
    }
    li {
      list-style: disc;
    }
  }

  word-break: keep-all;
}
