// @import "../../index.scss";

.ActorsList {
  background: radial-gradient(
    circle,
    rgba(54, 94, 59, 0.938) 0%,
    rgba(36, 61, 40, 1) 20%,
    rgba(29, 51, 31, 1) 35%,
    rgb(31, 54, 35) 40%,
    #000 100%
  );
  color: whitesmoke;
  min-height: calc(100vh - 120px);
  text-align: center;
  padding-bottom: 21px;

  h1 {
    font-size: x-large;
    padding-top: 2rem;
  }

  .wrapper__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;

    h4 {
      padding: 4px 0 0 0;
    }
  }
}
