//TODO: separate logic from register
//TODO: refactor

.Login {
  .container__form {
    div.wrapper__form {
      min-height: 330px;
    }
  }
  .display-errorMsg {
    // background-color: greenyellow;
    padding-top: 5px;
    min-height: 20px;

    p {
      color: red;
    }
  }
  .forgot-password {
    // background-color: cornsilk;
    padding-top: 7px;
    padding-bottom: 7px;

    input {
      box-shadow: 0 0 0 0;
      border: none;
    }
  }
  div .forgot-password button {
    background-color: transparent;
    // background-color: cyan;
    color: #65976d;
    box-shadow: 0 0 0 0;
    text-decoration: underline;
    padding: 0;
    border: none;
    outline: none;
  }

  .wrapper__retrieve-password input {
    background-color: crimson;
    padding-top: 10px;
    width: 100%;
  }
}
