//

.container__form {
  div.wrapper__form {
    min-height: 330px;
  }

  .display-errorMsg {
    // background-color: greenyellow;
    padding-top: 5px;
    min-height: 20px;

    p {
      color: red;
    }
  }

  .forgot-password {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: right;
    text-decoration: underline;
    color: pink;
    input {
      box-shadow: 0 0 0 0;
      color: pink;
      border: none;
    }
  }
}
