.App {
  text-align: center;
  height: 100%;
}

// .App > div {
//   height: 100%;
// }

//shared
a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
  padding: 0 2px;
}

.button-unavailable {
  cursor: not-allowed;
}
