.App {
  text-align: center;
  height: 100%;
}

// .App > div {
//   height: 100%;
// }

a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

/* SCSS HEX */
/* $indigo-dye: #08415cff;
$madder-lake: #cc2936ff;
$slate-gray: #6b818cff;
$peach-crayola: #f1bf98ff;
$lavender-blush: #eee5e9ff; */

// https://coolors.co/595f72-575d90-84a07c-c3d350-e6f14a
$black-coral: #595f72ff;
$dark-blue-gray: #575d90ff;
$asparagus: #84a07cff;
$june-bud: #c3d350ff;
$maximum-green-yellow: #e6f14aff;

$background-main: #575d90ff;
$background-main: #c3d350ff;
