.App {
  height: 100%;
}

//Globally applicable
button {
  cursor: pointer;
  padding: 0 2px;
}

a:hover {
  opacity: 0.8;
}

.button-unavailable {
  cursor: not-allowed;
}

.hide-visibility {
  visibility: hidden;
}

.show-visibility {
  visibility: visible;
}

.display-none {
  display: none;
}
