$background-main: #575d90ff;
$background-main: #595f72ff;
$background-main: #84a07cff;
/* SCSS HEX */
/* $indigo-dye: #08415cff;
$slate-gray: #6b818cff;
$peach-crayola: #f1bf98ff;
$lavender-blush: #eee5e9ff; */

// https://coolors.co/595f72-575d90-84a07c-c3d350-e6f14a
$dark-blue-gray: #575d90ff;
$asparagus: #84a07cff;
$june-bud: #c3d350ff;
$maximum-green-yellow: #e6f14aff;

//$background-main: #c3d350ff;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%; //Prevent adjustments of font size after orientation changes in iOS.
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
    sans-serif;
  $background-color: $background-main;
  font-family: Arial, "sans-serif";
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  $background-color: $background-main;
}

// html,
// body,
// .App,
// .App > div {
//   height: 100%;
// }

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// code,
// kbd,
// samp,
// pre {
//   font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
//     monospace; /* 1 */
//   font-size: 1em; /* 2 */
// }

* {
  -webkit-tap-highlight-color: transparent;
}

// /*
// Forms
// =====
// */

// input,
// select,
// textarea {
//   -webkit-appearance: none;
//   -webkit-border-radius: 0;
//   border-radius: 0;
// }

// /**
// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.
// */
// //resetting buttons, input, select, textarea, optgroup
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

// /**
// Correct the inability to style clickable types in iOS and Safari.
// */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// /**
// Correct the cursor style of increment and decrement buttons in Safari.
// */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

// /**
// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.
// */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

// /**
// Remove the inner padding in Chrome and Safari on macOS.
// */

// [type="search"]::-webkit-search-decoration {
//   -webkit-appearance: none;
// }
