//TODO: refactor
$height: 80px;

.Nav {
  // background-color: black;
  background-color: rgb(21, 35, 22); //RGB(56, 101, 59)
  padding: 20px 0;
  font-size: 2.1rem;

  .active {
    background-color: RGB(56, 101, 59);
  }

  .container__navlinks {
    // background-color: pink;
    ul {
      // background-color: lightcoral;
      height: $height; //40
      display: flex;
      justify-content: space-around;

      li {
        // background-color: lightgreen;
        color: rgba(255, 255, 255, 0.945);
        line-height: $height;
        transition: all 0.6s ease;

        &:hover {
          background-color: RGB(56, 101, 59);
        }

        a {
          padding: 0 6px;
          display: inline-block;
        }
      }
    }
  }

  .wrapper__cart-icon {
    // background-color: yellow;
    position: relative;
    display: flex;
    justify-content: center;

    .number-of-items {
      background-color: transparent;
      // background-color: rgba(30, 231, 238, 0.829);
      color: RGB(56, 101, 59);
      font-weight: bold;
      font-size: 1.2rem;
      position: absolute;
      top: -5px;
      left: 72px;
      z-index: 10;
    }
  }

  //Must be logged in
  .btn__my-account {
    background-color: transparent;
    color: inherit;
    padding: 0 8px;
    border: none;
  }

  .desktop-only {
    display: block;
  }

  i {
    font-size: 26px;
  }
}

@media (max-width: 900px) {
  .Nav {
    .wrapper__cart-icon .number-of-items {
      left: 20px;
    }
    .container__navlinks ul li .desktop-only {
      display: none;
    }
  }
}
